<?xml version="1.0" encoding="UTF-8"?>
<web-app
xmlns:xsi="http://www.w3.org/2001/XML
Schema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/ja
vaee"
xsi:schemaLocation="http://xmlns.jcp.
org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/we
b-app_3_1.xsd" version="3.1">
 <display-name>ServletWithJDBC</display-name>
 <welcome-file-list>
 <welcome-file>login.html</welcome-file>
  
 </welcome-file-list>
 <servlet-mapping>
 <servlet-name>loginservlet</servlet-name>
 <url-pattern>/fs</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>loginservlet</servlet-name>
 <servlet-class>org.mechit.LoginApp.LoginServlet</servlet-class>
 </servlet>
  

</web-app>